$width: 200px;
$height: 251px;

$font-family-semibold: 'MyriadPro-Semibold','Arial','sans-serif';
$font-family-bold: 'MyriadPro-Bold','Arial','sans-serif';

$font-size:22px;
$font-size-day:75px;
$font-size-time:35px;
$font-size-label:13px;
$font-size-h2:19px;

$line-height: 24px;
$line-height-day:75px;
$line-height-time:35px;
$line-height-label:13px;
$line-height-h2: 24px;

$color-gray: rgba(0,0,0,0.2);
$color-white: #ffffff;
$color-border: #848483;
$color-field: #f18d07;
$color-black: #181716;
$color-brown: #544300;

$color-grad1: #ed7611;
$color-grad2: #fbce00;
$color-grad3: #cd6301;
$color-grad4: #ed9300;   
$color-grad5: #ee820d;  

$color-gray-grad1: #353433;
$color-gray-grad2: #5c5c5b;
$color-gray-grad3: #565655;
$color-gray-grad4: #858584;
$color-gray-grad5: #424140;

$color-gray-grad10: #9d9d9c;
$color-gray-grad11: #b5b5b5;
$color-gray-grad12: #a4a4a4;
$color-gray-grad13: #cbcbcd;
$color-gray-grad14: #b6b6b6;
$color-gray-grad15: #c5c5c5;

    